# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de entorno virtual
venv/
ENV/
env/
.env

# Logs y bases de datos
*.log
*.sqlite
*.db

# Archivos de caché y archivos temporales
.cache/
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover
.hypothesis/

# Archivos específicos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de modelos (ya que son grandes, quizás convenga usar Git LFS)
# Al inicio usaremos repositorio sin los modelos para facilitar el push inicial
vosk-model-*/
vosk-model-es-0.42.zip

# Archivos de sistema operativo
.DS_Store
Thumbs.dbvosk-model-es-0.42/
